export(forward.search)
export(gCD)
export(LD)
export(obs.resid)
export(robustMD)
import(MASS)
import(psych)
S3method(plot,forward.search)
S3method(plot,LD)
S3method(print,forward.search)
S3method(print,gCD)
S3method(print,LD)
S3method(print,obs.resid)
S3method(print,robmah)
S3method(summary,robmah)
